# Deliverable 3. Create a Travel Itinerary Map.
----
1. Import the vacation CSV file. 
2. From the map above with pick 4 cities that are in close proximity (on the same continent) that the customer would travel to and create a directions layer map.
3. For the "travel_mode" use either "DRIVING", "BICYCLING", or "WALKING".
4. Take a screenshot of the route and save it. 
5. Then create a marker layer for the four cities. Each city will should have a pop-up marker that contains
    - The hotel name
    - The city
    - The country
    - The current weather description and the maximum temperature
---

## Make sure the initial dependencies and the Google API key are imported.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

In [3]:
# Configure gmaps
gmaps.configure(api_key=g_key)

## From your `Vacation_Search` folder from Deliverable 2, import the `WeatherPy_vacation.csv` file as a DataFrame named `vacation_df`

In [26]:
# Read the WeatherPy_vacation.csv into a DataFrame
vacation_data_load = "../Vacation_Search/WeatherPy_vacation.csv"
vacation_df = pd.read_csv(vacation_data_load)
# Display sample data
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Abnub,EG,73.62,clear sky,27.2696,31.1511,دوار ال عبد الجواد شرق البلد بابنوب
1,1,Albany,US,69.26,scattered clouds,42.6001,-73.9662,NaN
2,4,Barbosa Ferraz,BR,74.43,clear sky,-24.0300,-52.0117,Edicula Sanches
3,5,Port Alfred,ZA,69.19,broken clouds,-33.5906,26.8910,The Halyards Hotel & Spa
4,10,Hermanus,ZA,66.79,few clouds,-34.4187,19.2345,Misty Waves Boutique Hotel

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [ ]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## In this step, you will set-up the pop-up markers. Review the code to create a marker layer map of the vacation search results. This code is the same as in Deliverable 2.

In [56]:
# Review the formatting template
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# Get the data from each row and add it to the formatting template and store the data in a list
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [15]:
# Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)

# Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

## From the vacation search map, *choose four cities* that a customer might want to visit. They should be close together and in the same country.

In [40]:
# Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# The starting and ending city should be the same city.
vacation_start = vacation_df.loc[vacation_df['City'] == 'Havelock']
vacation_end = vacation_df.loc[vacation_df['City'] == 'Havelock']
vacation_stop1 =vacation_df.loc[vacation_df['City'] == 'Robertson']
vacation_stop2 =vacation_df.loc[vacation_df['City'] == 'Jamestown']
vacation_stop3 = vacation_df.loc[vacation_df['City'] == 'Freeport']

## Use the `to_numpy()` function and list indexing to write code to retrieve the latitude-longitude pairs as tuples from each city DataFrame.

In [41]:
# Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start['Lat'].to_numpy()[0], vacation_start['Lng'].to_numpy()[0]
end = vacation_end['Lat'].to_numpy()[0], vacation_end['Lng'].to_numpy()[0]
stop1 = vacation_stop1['Lat'].to_numpy()[0], vacation_stop1['Lng'].to_numpy()[0]
stop2 = vacation_stop2['Lat'].to_numpy()[0], vacation_stop2['Lng'].to_numpy()[0]
stop3 = vacation_stop3['Lat'].to_numpy()[0], vacation_stop3['Lng'].to_numpy()[0]

## Use the [gmaps documentation](https://jupyter-gmaps.readthedocs.io/en/latest/tutorial.html#directions-layer) to create a directions layer map using the variables from the previous step. Where the starting and ending city are the same city, the `waypoints` are the three other cities, and the `travel_mode` is either `"DRIVING"`, `"BICYCLING"`, or `"WALKING"`.

In [31]:
Havelock= vacation_df[vacation_df['City'].str.contains("Havelock")]
Havelock

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
117,319,Havelock,US,78.98,scattered clouds,34.8791,-76.9013,Sherwood Motel

In [48]:
Jamestown= vacation_df[vacation_df['City'].str.contains("Jamestown")]
Jamestown

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
6,18,Jamestown,US,71.19,clear sky,42.097,-79.2353,Hampton Inn & Suites Jamestown

In [49]:
Robertson= vacation_df[vacation_df['City'].str.contains("Robertson")]
Robertson

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
5,12,Robertson,US,77.04,scattered clouds,36.5167,-86.8667,Hampton Inn Springfield

In [50]:
Freeport= vacation_df[vacation_df['City'].str.contains('Freeport')]
Freeport

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
13,46,Freeport,US,72.01,clear sky,40.6576,-73.5832,The Freeport Inn and Marina

In [51]:
four_cities = pd.concat([Havelock,Jamestown,Robertson,Freeport])
four_cities

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
117,319,Havelock,US,78.98,scattered clouds,34.8791,-76.9013,Sherwood Motel
6,18,Jamestown,US,71.19,clear sky,42.0970,-79.2353,Hampton Inn & Suites Jamestown
5,12,Robertson,US,77.04,scattered clouds,36.5167,-86.8667,Hampton Inn Springfield
13,46,Freeport,US,72.01,clear sky,40.6576,-73.5832,The Freeport Inn and Marina

In [52]:
columnsData = four_cities.loc[:,['City','Lat','Lng']]
columnsData

          City      Lat      Lng
117   Havelock  34.8791 -76.9013
6    Jamestown  42.0970 -79.2353
5    Robertson  36.5167 -86.8667
13    Freeport  40.6576 -73.5832

In [ ]:
import gmaps
import gmaps.datasets
gmaps.configure(api_key= g_key)

In [54]:
Havelock= (34.8791,-76.9013)
Jamestown = (42.0970,-79.2353)
Robertson = (36.5167,-86.8667)
Freeport = (40.6576,-73.5832)

# Define a new figure object
fig = gmaps.figure()

# Create a direction layer map using the start and end latitude-longitude pairs, and stop1, stop2, and stop3 as the waypoints.
# The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
vacation_itinerary  = gmaps.directions_layer(Havelock,Freeport, waypoints=[Jamestown, Robertson],  travel_mode='DRIVING')




# Create map with direction layer
fig = gmaps.figure()

# Add the layer to the map
fig.add_layer(vacation_itinerary)

# Display the map
fig

Figure(layout=FigureLayout(height='420px'))

## Use the provided `concat()` function code snippet to combine the four separate city DataFrames into one DataFrame.

In [55]:
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat(
    [
        vacation_start,
        vacation_stop1,
        vacation_stop2,
        vacation_stop3
    ],
    ignore_index = True
)

# Display sample data
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,319,Havelock,US,78.98,scattered clouds,34.8791,-76.9013,Sherwood Motel
1,12,Robertson,US,77.04,scattered clouds,36.5167,-86.8667,Hampton Inn Springfield
2,18,Jamestown,US,71.19,clear sky,42.0970,-79.2353,Hampton Inn & Suites Jamestown
3,46,Freeport,US,72.01,clear sky,40.6576,-73.5832,The Freeport Inn and Marina

## Refactor the code from Step 6 to create a new marker layer map of the cities on the travel route.

In [63]:
# Review the formatting template
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# Get the data from each row and add it to the formatting template and store the data in a list
hotel_info =[info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# Get the latitude and longitude from each row and store in a new DataFrame.
locations = columnsData[["Lat", "Lng"]]

In [66]:
# Add a marker layer for each city to the map.
fig = gmaps.figure()
marker_layer = gmaps.marker_layer(locations,info_box_content=hotel_info)

# Define a new figure object

# Add the layer to the map
fig.add_layer(marker_layer)

# Display the map
fig

Figure(layout=FigureLayout(height='420px'))